body {
    background: black
}
.white-text {
    color: white
}
.card-length {
    height: 240px;
}
.card-bodycolor {
    margin: 40px 0;
    background: #0A0A0A;
    border: 3px solid #161616;
    border-radius: 15px;
    color: white;
    align-items: center;
    width: 150px;
}
.number-size {
    margin-top: 10px;
    margin-bottom: 0 !important;
    text-align: center;
    align-items: center;
    font-size: 135px;
}
.card-test {
    margin: 40px 0px;
}